<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <title>CodeGig</title>
</head>

<body>
<header>
    <h2><a href="index.html"><i class="fas fa-code"></i>
        CodeGig</a></h2>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/gigs">All Gigs</a>
            </li>
            <li>
                <a href="/gigs/add">Add Gig</a>
            </li>
        </ul>
    </nav>
</header>
{{{body}}}
</body>

</html>